
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Tilt+Warp:XROT,YROT@-45..45,-45..45&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #1b26b2;
    --lightblue: #ccdcff;
    --lightgreen: #dbf6d6;
    --darkgreen: #64ac3c;
}

body {
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 7%;
}

header a {
    font-family: 'Chewy', cursive;
    text-decoration: none;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 80px; /* Fast bredde i stedet for procent */
    height: auto;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    display: flex;
    list-style: none;
}

header .navbar ul li {
    width: auto;
    padding: 0 15px; /* Mindre afstand */
}

header .navbar ul li a {
    text-decoration: none;
}

header .kurv-img img{
    width: 80px;
    height: auto;
}

header input{
    display: none;
}

/* Styling af main */
.produkt-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
}

.produkt-grid aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.produkt-grid .big img{
    width: 50%;
}

.produkt-grid aside button{
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid;
}