
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Tilt+Warp:XROT,YROT@-45..45,-45..45&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 100vh;
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
}

:root {
    --darkblue: #1b26b2;
    --lightblue: #ccdcff;
    --lightgreen: #dbf6d6;
    --darkgreen: #64ac3c;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 7%;
}

header a {
    font-family: 'Chewy', cursive;
    text-decoration: none;
    color: var(--darkblue);
    font-size: 2.2rem;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 100px; /* Fast bredde i stedet for procent */
    height: auto;
    margin-top: 10px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    display: flex;
    list-style: none;
}

header .navbar ul li {
    width: auto;
    padding: 0 80px; /* Mindre afstand */
}

header .navbar ul li a {
    text-decoration: none;
}

header .kurv-img img{
    width: 100px;
    height: auto;
    margin-top: 10px;
}

header input{
    display: none;
}
.tvspot {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    height: 100vh; /* Gør sektionen lige så høj som viewporten */
   
}

video {
    width: 80%; /* Justér efter behov */
    max-width: 800px; /* Sørger for, at videoen ikke bliver for stor */
    height: auto;

}

h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--darkblue);

}
button {
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

