
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Tilt+Warp:XROT,YROT@-45..45,-45..45&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 100vh;
}

:root {
    --darkblue: #1b26b2;
    --lightblue: #ccdcff;
    --lightgreen: #dbf6d6;
    --darkgreen: #64ac3c;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 7%;
    border: 2px solid var(--darkblue);
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 20px;
    position: relative;
}

header a {
    font-family: 'Chewy', cursive;
    text-decoration: none;
    color: var(--darkblue);
    font-size: 2rem;
}

/* Styling af hover effekt til links */
.navbar a{
    background: none;
    border: none;
}

.navbar a::before {
    margin-left: auto;
  }

.navbar a::after, .navbar a::before {
    content: '';
    width: 0%;
    height: 2px;
    background:var(--darkblue);
    display: block;
    transition: 0.5s;
  }  

.navbar a:hover::after, .navbar a:hover::before {
    width: 100%;
  }


/* Styling af logo */

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 100px; /* Fast bredde i stedet for procent */
    height: auto;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

header .logo img:hover {
    transform: scale(1.1); /* Forstørrer billedet 10% */    
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul {
    display: flex;
    list-style: none;
}



header .navbar ul li {
    width: auto;
    padding: 0 80px; /* Mindre afstand */
}

header .navbar ul li a {
    text-decoration: none;
    /* transition: transform 0.3s ease-in-out; */
    display: inline-block;
}

header .kurv-img img{
    width: 80px; 
    height: auto;
    transition: transform 0.3s ease-in-out;
  
}

header .kurv-img img:hover {
    transform: scale(1.1); /* Forstørrer billedet 10% */
}


.cart-tab {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -100%; 
    width: 50vw;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: right 0.3s ease-in-out;
    z-index:99;
    overflow-y: auto;
}

.kurv-btn img{
    width: 80px;
}

.kurv-btn{
    width: 80px;
    height: auto;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.cart-tab.active {
    right: 0;
}

.cart-tab.inactive {
    right: -50%; /* Hidden */
}

.kurv-heading{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--darkblue);
}

.dinkurv{
    color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 3rem;
    }
}

.btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.close-cart {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--darkblue);
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pil{
    width: 55%;
    height: auto;
    
}

/* styling af kurv med indhold */

.fuld-kurv{
    display: flex;
    margin-top: 2rem;
    img{
        width: 50%;
    }
    margin-bottom: 4rem;
  
}

.produkt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.produkt-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3{
        padding-bottom: 1rem;
    }
}

.quantity-container{
    display: flex;
}

.quantity-btn{
    background-color: var(--darkblue);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-input{
    border: 2px solid var(--darkblue);
    border-radius: 5px;
}

.empty-kurv{
    margin-top: 5rem;
}

.forslag-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    text-align: center;
    
    h2{
        text-align: left;
    }
}

.total-pris{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2rem;
   
    input{
        background-color: transparent;
        border: 2px solid var(--darkblue);
        border-radius: 5px;
        height: 40px;
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
}


/* Styling af body begynder */

/* styling af video */
.tvspot {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    height: 100vh; /* Gør sektionen lige så høj som viewporten */
   
}

video {
    width: 100%; /* Justér efter behov */
    max-width: 1000px; /* Sørger for, at videoen ikke bliver for stor */
    height: auto;

}

section.slideshow {
    display: flex;
    flex-direction: column;

}

h1 {
   font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--darkblue);

}

article.slideprodukter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

#hygge {
    width: 20%;
    height: auto;
}

#venstrepil {
    width: 70px;
    height: 70px;
    transform: rotate(180deg); /* Roterer billedet 180 grader */
    transition: transform 0.3s ease-in-out;
}

#venstrepil:hover {
    transform: scale(1.2) rotate(180deg); 
}

#hoejrepil {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease-in-out;
}

#hoejrepil:hover {
    transform: scale(1.2); 
}

button {
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: white;
    border: none;
    border-radius: 5px;
    display: block; /* Gør knappen til et blokniveau element */
    margin: 0 auto;
}

button:hover {
    transform: scale(1.2); 
}

.mission {
    padding: 200px 0 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/boelge.forside.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}


.content {
    z-index: 2;
    text-align: start;
    max-width: 1200px;
    padding: 0 2rem 0 2rem;
    margin-top: 4.5rem;
}

.mission h2 {
    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
}

.mission p {
    color: white;
   font-size: 1.6rem;
   font-weight: 0.5rem;
    text-transform: none;
}

#historieknap {
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: white;
    color: var(--darkblue);
    border: none;
    border-radius: 5px;
    display: block; /* Gør knappen til et blokniveau element */
    margin-top: 60px;
    transition: transform 0.3s ease-in-out;
   
}

#historieknap:hover {
    transform: scale(1.2); 
}

section.bryggeri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}
section.bryggeriimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.ramme {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To lige store kolonner */
    gap: 20px;
}

#luksus {
    width: 30%;
    height: auto;
    margin-top: 0px;
}

h3 {
    font-size: 2.5rem;
    color: var(--darkblue);
    text-align: start;
}
section.bryggeri p {
    font-size: 1.6rem;
    color: var(--darkblue);
    text-align: start;
    margin-left: 70px;
}

#bryggeriknap {
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: white;
    border: none;
    border-radius: 5px;
    display: block; /* Gør knappen til et blokniveau element */
    margin-left: 120px;
    margin-top: -20px;
    transition: transform 0.3s ease-in-out;
}

#bryggeriknap:hover {
    transform: scale(1.2); 
}

.footerlogo {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    height: auto;
}


.footerlink {
    display: flex;
    justify-content: end;
    width: 50%;
}



.footerlink ul li{
    list-style: none;
    padding: 0 20px;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px 0 20px 0 ; */
    border-bottom: 1px solid white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 25%;
}

.footerlink li a{
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    position: relative;
    z-index: 2;
    transition: color 0.3 ease;
    width: 100%;
}

/* Hover effekt til footerlinks */
    .footerlink ul li::before{
        content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%; /* Starts with no height */
    background-color: var(--lightblue); /* Light blue-white color */
    transition: height 0.3s ease; /* Animation for the fill effect */
    z-index: 1; /* Places it behind the text */
    }

    .footerlink ul li:hover a {
        color: var(--darkblue); /* Text changes to blue */
    }

    .footerlink ul li a :hover{
        color: var(--darkblue);
    }
    
    .footerlink ul li:hover::before {
        height: 100%; /* Fill grows to full height on hover */
    }
 

/* Styling af ul i footer */
.footerlink ul{
    width: 100%;
}


footer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, var(--darkblue) 50%, white 50%);
    /* padding: 20px; */
    border-top: 5px solid var(--darkblue);
    margin-top: 100px;
    
}